<!DOCTYPE html>
<html>
<head>
	<title>Utterance generator</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar navbar-light bg-warning">

<h5> <b>ChatBot-Utterance Generator</b> by <b>Team Arrow</b></h5>
<a href="/rasa/"><button class="btn-primary" >Rasa</button></a>
  </div>
</nav>
<br>
<div class="container">
	<form method="POST" action="/input/">
	{% csrf_token %}
		<div class="form-inline">
  <div class="form-group p-2">
    <label for="intent"><b>Intent: &nbsp </b></label>
    <input type="text" style="width:170px;"class="form-control" id="Intent" name="intent" aria-describedby="emailHelp" placeholder="Intent Name" required="">
    
  </div>
  <div class="form-group p-2">
    <label for="TG"><b>Text-Generation:&nbsp</b></label>
    <input type="text"  style="width:700px;" class="form-control" id="TG" name="TG" placeholder="" required="">

  </div>
<p> &nbsp Entity input format example: (Show|Provide)<b>{Balance}</b><p>
</div>
<div class="form-inline">
   <div class="form-group p-2">
    <label for="Entities"><b>Entities: &nbsp </b></label>
    <input type="text" style="width:925px"class="form-control sm-2" id="entity" name="entity" placeholder="">
    <br>
    
  </div><button type="submit" class="btn btn-primary">Submit</button>
  <p> &nbsp Entity input format example:<b>(Checking_Balance|Saving_Balance|Balance|Money)</b><div>
  
</div>
</form>
</div>
<div class="container">
					<div class="row">
						<div class="col-md-12 col-xs-12 output-label bg-light ">
								<div class="bg-warning" ><b> Generated Utterances: </b></div>
								
								<ul>
{% for u in utter %}
    <li>{{ u|safe }}</li>
{% endfor %}
</ul>	
						</div>
				


					
					</div>
				
				
				
				</div>	
<div class="container">
					<div class="row">
						<div class="col-md-12 col-xs-12 output-label bg-light ">
								<div class="bg-warning" ><b> Your JSON Output: </b></div>
								<pre>{{ data | pprint }}</pre>	
						</div>
				


					
					</div>
				
				
				
				</div>	
</body>
</html>